@import "tailwindcss";

:root {
  font-family: "Segoe UI", system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-color: #fdfefe;
  --heading: #333333;
  --subheading: #878787;
  --gradient-heading:
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    scroll-behavior: smooth !important;
    -webkit-overflow-scrolling: touch;
    font-family: "Segoe UI", -apple-system, Roboto, "Helvetica Neue", Arial,
        sans-serif !important;
    background-color: var(--bg-color);
}